In [9]:
import pandas as pd

orders = pd.read_csv('../data/orders_and_products/orders.csv', delimiter=';')
products = pd.read_csv('../data/orders_and_products/products.csv', delimiter=';')
display(orders.head(2))
display(products.head(2))

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100

   Product_ID                      Name  Price CURRENCY
0          47      Шатны Полосатый рейс   2999      RUR
1          51  Платье Аленький цветочек   4999      RUR

In [10]:
orders_products = orders.merge(products, how='left', left_on='ID товара', right_on='Product_ID')
display(orders_products.head(2))

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR

In [18]:
# Какой идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре?
orders_products[orders_products['Product_ID'].isna()]['Order ID'].iloc[0]

0

In [20]:
# На какой товар была произведена отмена?
orders_products[orders_products['Статус']=='Отменён']['Name'].iloc[0]

'Носки беговые Camino'

In [30]:
# Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
# Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену.
orders_products['Profit'] = orders_products['Price'] * orders_products['Количество']
orders_products[orders_products['Оплачен'] == 'Да'].groupby('ID Покупателя')['Profit'].sum().sort_values(ascending=False).index[0]

7