In [1]:
import pandas as pd

In [2]:
students_data = pd.read_csv('data/students_performance.csv', sep=',') # прочитаем данные об оценках студентов

In [3]:
students_data.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [4]:
students_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
# статистики для числовых показателей
students_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [8]:
# статистики для нечисловых показателей
students_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [11]:
# Каков балл по письму у студента под индексом 155?
students_data.loc[155]['writing score']

88

In [12]:
# Каков у студентов средний балл по математике?
# также знаем эту инфу из describe
students_data['math score'].mean()

66.089

In [13]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
students_data[students_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [17]:
# Сколько студентов получили 0 баллов по математике?
students_data[students_data['math score'] == 0].shape[0]

1

In [21]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
students_data.groupby("lunch")['math score'].describe()

              count       mean        std   min   25%   50%   75%    max
lunch
free/reduced  355.0  58.921127  15.159956   0.0  49.0  60.0  69.0  100.0
standard      645.0  70.034109  13.653501  19.0  61.0  69.0  80.0  100.0

In [22]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
students_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [28]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму 
# у студентов в расовой группе C?
students_data[students_data['race/ethnicity'] == 'group C']['writing score'].mean() - students_data[students_data['race/ethnicity'] == 'group A']['writing score'].median()

5.827586206896555